@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

h1 {
    font-family: 'Milonga', cursive;
    justify-content: center;
    font-size: 1.5cm;
    display: inline-block;
    border: solid black;
    border-width: 2mm;
    padding: 1rem;
    background-color: white;   
    margin-top: 0px;
}

#container {

    border-top: 1cm;
    position: static;
}


